<h3> <%= post.escape('title') %></h3>
<p> <%= post.escape('body') %></p>
<br>
<button class="back-button">Back</button>
<br>
<a href="#posts/<%= post.id %>/edit">Edit</a>
<br>
<button class="delete-post">Delete this Post</button>
